@model IEnumerable<WonosWebApp.Models.Bono>
@{
    ViewBag.Title = "Bonos";
    //Layout
}

<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Tipo de Metodo
                </th>
                <th>
                    Fecha de Emision
                </th>
                <th>
                    Tipo Moneda
                </th>
                <th>
                    Cantidad PG
                </th>
                <th>
                    Inflacion
                </th>
                <th>
                    Valor Nominal
                </th>
                <th>
                    Valor Comercial
                </th>
                <th>
                    Numero de Años
                </th>
                <th>
                    Frecuencia
                </th>
                <th>
                    Dias por Año
                </th>
                <th>
                    Capitalizacion
                </th>
                <th>
                    Tipo de Tasa
                </th>
                <th>
                    Tasa de Interes
                </th>
                <th>
                    Tasa de Descuento 
                </th>
                <th>
                    Impuesto a la Renta
                </th>
                <th>
                    Prima
                </th>
                <th>
                    Estructuracion
                </th>
                <th>
                    Colocacion
                </th>
                <th>
                    Flotacion
                </th>
            </tr>
            @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Nombre,"Resultados","Bono",new { bonoId = item.Id},null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoMetodo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fechaEmision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoMoneda)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PlazoGraciaCant)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inflacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vnominal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vcomercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nroaños)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.frecuencia)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.diasporanio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.capitalizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tipoTasa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tasaInteres)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tasaDescuentoCOK)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.impRenta)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pPrima)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pEstructura)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pColoca)%
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pFlota)%
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
