@model WonosWebApp.Models.ViewModels.ResultadosViewModel
@{
    ViewBag.Title = "Resultados";
    //Layout 
}

<h2>Resultados "@ViewBag.nombre" (@ViewBag.tipometodo)</h2>
<br />

<div class="row">
    <div class="col-md-4">
        <h3>Estructuración del bono:</h3>
        <p><strong>Total de periodos:</strong> @Model.estructura.totalPeriodos</p>
        <p><strong>Tasa efectiva del periodo:</strong> @(Model.estructura.TEP)%</p>
        <p><strong>Tasa efectiva anual:</strong> @(Model.estructura.TEA)%</p>
        <p><strong>COK del periodo:</strong> @(Model.estructura.COK)%</p>
        <p><strong>Costos Iniciales Emisor:</strong>@Model.bono.TipoMoneda @Model.estructura.costesInicialesEmisor</p>
        <p><strong>Costos Iniciales Bonista:</strong>@Model.bono.TipoMoneda @Model.estructura.costesInicialesBonista</p>
    </div>
    <div class="col-md-4">
        <h3>Precio Actual y Utilidad:</h3>
        <p><strong>Precio Actual:</strong>@Model.bono.TipoMoneda @Model.utilidad.precioActual</p>
        <p><strong>Utilidad/Perdida:</strong>@Model.bono.TipoMoneda @Model.utilidad.utilidad</p>
    </div>
    <div class="col-md-4">
        <h3>Indicadores de Rentabilidad:</h3>
        <p><strong>TCEA Emisor:</strong> @(Model.rentabilidad.TCEAEmisor*100)%</p>
        <p><strong>TCEA Emisor/Escudo:</strong> @(Model.rentabilidad.TCEAEmisorEscudo*100)%</p>
        <p><strong>TREA Bonista:</strong> @(Model.rentabilidad.TREABonista*100)%</p>
    </div>
    <div class ="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>N</th>
                    <th>Plazo de Gracia</th>
                    <th>Bono</th>
                    <th>Cupon</th>
                    <th>Cuota</th>
                    <th>Amortización</th>
                    <th>Prima</th>
                    <th>Escudo</th>
                    <th>Flujo Emisor</th>
                    <th>Flujo Emisor/Escudo</th>
                    <th>Flujo Bonista</th>
                </tr>
            </thead>
            <tbody>
             @for (int i = 0; i < Model.periodos.Count(); i++)
             {
                <tr>
                    <td>@Model.periodos[i].N</td>
                    <td>@Model.periodos[i].plazoGracia</td>
                    <td>@Model.bono.TipoMoneda@Model.periodos[i].bono</td>
                    <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].cupon</td>
                    <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].cuota</td>
                    <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].amortizacion</td>
                    @if (i == Model.periodos.Count()-1)
                    {
                        <td class=" text-danger">@Model.bono.TipoMoneda@Model.periodos[i].prima</td>
                    }
                    else
                    {
                        <td>@Model.bono.TipoMoneda@Model.periodos[i].prima</td>
                    }
                    <td>@Model.bono.TipoMoneda@Model.periodos[i].escudo</td>
                    @if (i == 0)
                    {
                        <td>@Model.bono.TipoMoneda@Model.periodos[i].flujoEmisor</td>
                    }
                    else
                    {
                        <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].flujoEmisor</td>
                    }
                    @if (i == 0)
                    {
                        <td>@Model.bono.TipoMoneda@Model.periodos[i].flujoEmisorEscudo</td>
                    }
                    else
                    {
                        <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].flujoEmisorEscudo</td>
                    }
                    @if (i == 0)
                    {
                        <td class="text-danger">@Model.bono.TipoMoneda@Model.periodos[i].flujoBonista</td>
                    }
                    else
                    {
                        <td>@Model.bono.TipoMoneda@Model.periodos[i].flujoBonista</td>
                    }



                </tr>
             }
            </tbody>
        </table>
    </div>
</div>